.legendContainer{
    display: flex;
    user-select: none;
    position: sticky;
    z-index: 1000;
}
.legendContainer.vertical {
    align-items: flex-start;
    margin-top: 0.5rem;
}
.legendContainer.horizontal{
    flex-direction: column;
    align-items: start;
}

.canvasMark {
    order: 1;
}

.canvasGrad {
    order: 2;
}


.legendLabel {
    order: 3;
    display: flex;
    justify-content: space-between;
    font-family: 'GmarketSans';
    font-weight: 300;
    font-size: small;
}
.legendLabel.vertical{
    flex-direction: column;
    margin-left: 3px;
}
.legendLabel.horizontal{
    margin-top: 3px;
}